@using PersonelMVC.Models
@{
    Layout = null;
    var gelenDepatman =(Departman)ViewData["departman"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detay</title>
</head>
<body>
    <div>
        <h1>ViewData ile gelen Id:@gelenDepatman.Id</h1>
        <h1>ViewData ile gelen Id:@gelenDepatman.Ad</h1>
    </div>
</body>
</html>
